body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.gallery-container {
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery img {
    width: 100%;
    height: auto;
}
